body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #fff;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
}

input, textarea {
    margin: 10px 0;
    padding: 10px;
}

button {
    background-color: #131414;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #157fa8;
}

body{
    background-image: url(Back3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.goback-button {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #07121d;
    color: #fff;
    border-radius: 5px;
    margin: 20px auto;
}

.goback-button:hover {
    background-color: #0056b3;
}


